@model Achievement_Evaluation_System.Models.Team

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table style="width: 100%; border: 1px solid black;">
            <tr>
                <td class="col-md-offset-2 col-md-6" style="border: 1px solid black;">
        <div class="form-group" style="border: 1px solid black;">
            @Html.LabelFor(model => model.Team_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Team_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Team_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Team_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Team_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Team_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Team_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Team_description, new { @class = "form-control", cols = 60, rows = 10 })
                @Html.ValidationMessageFor(model => model.Team_description, "", new { @class = "text-danger" })
            </div>
        </div>
                </td>
                <td class="col-md-offset-2 col-md-10">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <table>
                                <tr>here</tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
