@model Achievement_Evaluation_System.Models.Achievement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Achievement_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achievement_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achievement_completion_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement_completion_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achivement_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achivement_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achievement_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
